    body {
    background-color: #EEE2DC;
    margin: 0 7em 0 7em;
    }

    hr{
    border-style: dotted none none;
    border-width: 6px;
    border-color: #bab2b5;
    height: 0px;
    width: 40%;
    }

    #h1cv{
        text-align: center;
        margin-bottom: 3em;
        font-family: cursive;
        color: #ac3b61;
        }
    

    .bobipic{
    width: 200px;
    height: 200px;
    border-radius: 150px;
    }   

/* Tables styles */ 

    .table1 {
        border-collapse: separate;
        empty-cells: hide;
        margin-bottom: 2em;
    }
    .table2 {
        border-collapse: separate;
        empty-cells: hide;

    }
    #tdSpace {
        width: 23%;
    }

    #tdImage {
        width: 30%;
        
    }
    #tdNest {
        width: 50%;
    }

    
    #tdAddress {
        text-align: left;
        width: 45%;
    }
    
/* Text styles */

    h2 {
    color: #ac3b61;
    font-family:cursive;
    text-align: center;
    margin: 2em;
    }

    p {
        color: #123c69;
        font-size: 1.1em;
      text-align: center;
    }

    div.ul {
        color: #123c69;
        font-size: 1.1em;
        display: block;
        text-align: center;
        list-style-position: inside;
    }

    a {
        color: #123c69;
        font-size: 1.1em;
    }
